{% extends "user/base.html" %}
{% block content %}

<section class="section-bg" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About Us</h2>
          <p class="lead">Naija Unity House is a non-profit organisation that is championing the course of fostering unity among Nigerians and harness the benefit of our rich ethno-religious diversity with focus on the youths. The organisation is duely registered with relevant government agencies in Nigeria. In 2019, the organisation was incooperated with the Coperate Affairs Commission (CAC) and also got its copy right. The organisation aims to achieve the following objectives:
          </p>
          <ul >
            <li class="lead">To provide a platform for exchange of ideas for the betterment of Nigeria</li>
            <li class="lead">To help in sanitizing youths through organization of Seminars and workshops</li>
            <li class="lead">To give a helping hands to the less privilege</li>
            <li class="lead">To serve as an advisory body in check making the activities of Governance.</li>
          </ul>
        </div>
      </div>
    </div>
  
  <div class="col-md-8 mx-auto section-bg">
    <div class="section-bg">
        <h2 class="mb-2">Background </h2>

        <h5 class="mb-3">Naija Unity Forum, Initiative for forstering unity in Nigeria</h5>

        <p class="mb-2"> 
          
        
          Nigeria is a heterogeneous country with sundry diversities in religion, tribes, culture and values. 
          In absence of tolerance, diversities can create suspicion within polity. Despite strides by the federal government to enhance national integration and cohesion, however, unity is still an issue the country is grappling is exemplified  by various incidences of sectarian bigotry, discrimination and intolerance which arise from existing disparities in culture, tribe and religion. Sometimes sporadic violence has sprang up from grievances fueled up by mismanagement of diversities with the attendant erosion of peace and harmony.</p>
          
          <p class="mb-2">In politics, the impacts of tribalism, religion chauvinism and disparity on culture have often marred the choices of election of competent as the gravitation has always been in parochial affinities. The consequences has been poor leadership recruitment in governance which has culminated in awful governance with the attendant classification of the country as a failed state premised on its abysmal low index in the critical areas of development.</p> 

          <p class="mb-2">Incidentally, many countries have similar diversities as Nigeria but have deployed the advantage derived therein for growth by shrinking the boundaries of diversities by deliberate and continuous deepening the value for unity and cohesion through sundry platforms that bring convergence of citizens from diverse cultures, creeds and ethnic nationalities.</p> 
                 
        <p class="mb-2">Such platforms diffuse suspicious, open barriers of communication, identify and elevate reciprocal interest as interfaces with one another become irresistible. This is the pursuit of federal government in the establishment of NYSC and Unity schools. Indeed, unity is critical and deserves promotions from varied frontiers not only by  government but also by individuals and cooperate citizens.</p>


        <p class="mb-2">To this end, it is imperative to deploy or broach the subject of unity as a thematic substance in the most trending entertainment genre to underline its fundamental value in Nigeria cooperate existence as indivisible country.</p>

        <p class="mb-2"> Reality show is modish and faddish with colossal fan base which cut across all segments of the society, but more significantly the youth’s loyalty and followership to this genre are overwhelming. Consequently, it is unifying drive in such a time when the nation is passing through a traumatic experiences occasioned by violent criminalities unleashed by youths to configuring the subject of unity in synthesis of a new reality show titled “Together we shall stand” with housemates from diverse culture, tribe from across all the states in Nigeria domiciled in house “Naija House”</p>

          
         
    </div>

    
</div>

</section>
{% endblock content %} 