



<section  class="contact section-bg">
    <div class="container section-bg" >

      

      <div class="row gx-lg-0 gy-4">

       

        <div class="col-lg-9 mx-auto ">
          <form  class="php-email-form ">
            <div class="row d-flex bg-success gap-4 p-3">
                <div class="col-md-8 mt-3 d-flex gap-">
                    <img src="/static/images/pix10.png" alt="..." style="max-height: 150px; max-width: 150px;" class="rounded">&nbsp;
                    <h5 class="text-white pt-5">
                      Naija Unity House <br>
                      <small>Initiative for Fostering Unity in our diversity</small>
                    </h5>
                </div>
                
                <div class="col-md-4 mt-3 pl-5">
                   <p class="text-center text-white"><strong><u>Contact</u></strong></p>
                <p class="text-white"> <i class="fas fa-map-marker-alt "></i>&nbsp;&nbsp;
                  No 10 Beauty Odiaka street Lekki, Lagos Nigeria</p>
                <p class="text-white d-flex mb-2">
                  <i class="fas fa-phone "></i>&nbsp;&nbsp;
                  <a href="tel:+2348039700390" class="text-white">
                  +2348039700390 
                  </a>
              </p>
                <p class="text-white d-flex">
                  <i class="fas fa-envelope "></i>&nbsp;&nbsp;
                   <a href="mailto:info@naijaunityforum.org" class="text-white">
                  info@naijaunityhouse.org 
                  </a>
              </p>
                
                </div>
            </div>

        <hr style="border: 2px solid black;">
            <div class="form-group mt-5">
              <h4 class="text-center"><u>Confirmation of Registration</u></h4>
             
            </div>

            <div class="row mt-3">
              <div class="col-md-10 form-group mx-auto">
                <h5 class="">Dear {{user_fname }},</h5>
                <p>1. Congratulations on your registration.  Naija Unity House Reality Television Show is aimed at promoting unity among Nigerian Youths. We bring youths from different ethnic backgrounds together to delibrate on what we can benefit from our diversity as a way to foster peaceful co-existance </p>
        <p>2. The selection pannel will invit all applicants for an audition and successful candidates will be contacted via mail submitted during registration. You're therefore expected to prepare your elevator speech which you will present to the screening board. You're also advised to start talking to your fans who will be your voting stronghold.</p>

        <p>3. Below are the details of your registration:
          <ul>
            <li><strong>Name:&nbsp;&nbsp;{{user_fname }} {{ user_lname }} {{user_othername }}</strong></li>
            <li><strong>Email:&nbsp;&nbsp;{{ user_email }}</strong></li>
            <li><strong>Phone:&nbsp;&nbsp;{{ user_phone }}</strong></li>
            <li><strong>Ref No:&nbsp;&nbsp;{{ user_ref }}</strong></li>
          </ul>
        </p>
        <p>4. Accept the esteemed regards of the Executive Director</p>
        <p class="pt-5">Yours in Nationl building</p>
        <p>Barr Beauty Odiaka</p>
              </div>
              
            </div>
            
           
            
            
              <div class="form-group">
                
              </div>
              <div class="form-group  mt-md-0">
                
              </div>
             
          
            
             
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>
  </section><!-- End Contact Section -->
    




<hr>







