{% extends "user/base.html" %}
{% block content %}
       
<div class="bg-success text-danger p-4 d">
    

    <marquee behavior="scroll" direction="left"><h5 >Would you like to feature as our Peace Ambassador? Naija Unity House is organising a Reality Television Show for the Youths <a href="/registration/steps/" style="color: red;">Click here to participate</a></h5></marquee>
    {% set flashed_messages = get_flashed_messages(with_categories=True) %}
        {% if flashed_messages %}
            {% for category, message in flashed_messages %}
            <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% endif %} col-lg-6 mx-auto">
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}
</div>
    <section class="hero-section hero-section-full-height section-bg">
    <div class="container-fluid text-center my-3">
        <div class="row section-bg text-center mb-5">
            <h2 class="mt-3 mb-3" style="color: #bc8bfc;">Welcome to Naija Unity House</h2>
            <h5 class=" text-dark">Initiative for Fostering Unity in our diversity</h5>
        </div>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix1.png" class="img-fluid " style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix2.png" class="img-fluid" style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix3.png" class="img-fluid" style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix4.png" class="img-fluid" style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix5.png" class="img-fluid" style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/static/images/pix6.png" class="img-fluid" style="height: 400px;">
                                </div>
                                <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        
    
    
</div>
</section>



    
    <section class="section-padding section-bg">
        <div class="container-fluid">
           
            <div class="row section-bg text-center mb-">
                <h1 class="mt-3 mb-3" style="color: #bc8bfc;"><u>WHAT WE DO</u></h1>
                
            </div>
                
           
            <div class="row">
                
               

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="/volunteer/" class="d-block">
                            <img src="/static/images/pix2.png" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Join Us To Build a Peaceful Nigeria</strong></p>
                            <p class="featured-block-text"><strong>Register to Become a Volunteer</strong></p>
                            
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="/registration/steps/" class="d-block">
                            <img src="/static/images/pix3.png" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Become a Peace Ambassador</strong></p>
                            <p class="featured-block-text"><strong>Register Here</strong></p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="/download/book.pdf" download class="d-block">
                            <img src="/static/images/pix17.jpg" class="featured-block-image img-fluid" alt="" style="height: 400px;">

                            <p class="featured-block-text"> <strong>Help us to achieve more</strong></p>
                            <p class="featured-block-text"> <strong>Click Here to Buy Our Book </strong></p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="featured-block d-flex justify-content-center align-items-center">
                        <a href="" class="d-block">
                            <img src="/static/images/pix1.png" class="featured-block-image img-fluid" alt="">

                            <p class="featured-block-text"><strong>Participate in our Annual peace Carnival</strong></p>
                            <p class="featured-block-text"><strong>Click Here</strong></p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    

    <div class="row bg-success text-center mt-5">
        <h2 class="mt-3 mb-3 text-white">Our Team</h2>
        
    </div>

     <!-- ======= Our Team Section ======= -->
     <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <a href="/team/"><img src="/static/images/pix12.png" class="img-fluid" alt="" style="height: 400px;">
                    <h4>Beauty Odiaka</h4></a>
                <span>A Lawyer and Solicitor</span>
                <div class="social">
                  <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                  <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                  <a href=""><i class="fab fa-linkedin fa-2x"></i>
                  </a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <a href="/team/"><img src="/static/images/pix13.png" class="img-fluid" alt="" style="height: 400px;">
                    <h4>Chief Odiaka</h4></a>
                <span>Philantropist</span>
                <div class="social">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <a href="/team/"><img src="/static/images/pix14.png" class="img-fluid" alt="" style="height: 400px;">
                    <h4>Ese Judith</h4></a>
                <span>Human Right Activist</span>
                <div class="social">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <a href="/team/"><img src="/static/images/pix16.png" class="img-fluid" alt="" style="height: 400px;">
                    <h4>Dr Steve Eboh</h4></a>
                <span>Philantropist</span>
                <div class="social">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
              </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Our Team Section -->







      <section class="hero-section hero-section-full-height section-bg">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 col-md-5 col-12">
                    <img src="/static/images/pix12.png"
                        class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                </div>

                <div class="col-lg-5 col-md-7 col-12">
                    <div class="custom-text-block">
                        <h2 class="mb-0">Bar Beauty Odiaka</h2>

                        <p class="text-muted mb-lg-4 mb-md-4">Our Founder</p>

                        <p>Beauty Odiaka Cletus hails from Illushi 
                            Esan South East Local Government Ubiaja 
                            in Edo State. She is a legal practitioner, 
                            former company secretary who has had 
                            stint in the Oil and Gas sector. She is 
                            married to her heartthrob Cletus 
                            Ebhodagbe and blessed with lovely five 
                            kids.</p>

                        <p>Beauty and her husband share burden for Nigeria Unity, Nigeria  youths, and nation building, which they champion through the platform Initiative for Fostering Unity in Diversity, Youth and Nation Building, an NGO, which they are co-founders.The organization is making novel foray into reality show, “Naija Unity House” conceived to diffuse ethnic and religious tensions, and advance unity and cohesion in Nigeria through promotion of tolerance and deference for the nation's cultural diversity.</p>

                        <ul class="social-icon mt-4">
                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                            <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                            <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section> 

    <section class="cta-section section-padding bg-success mt-4">
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-5 col-12 ms-auto">
                    <h2 class="mb-0">Make an impact. <br> Let's unite Nigeria.</h2>
                </div>

                <div class="col-lg-5 col-12">
                    

                    <a href="/volunteer/" class="custom-btn btn smoothscroll">Become a volunteer</a>
                </div>

            </div>
        </div>
    </section>


    <!-- <section class="section-padding" id="section_3">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-4">
                    <h2>Our Causes</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <img src="/static/images/pix15.png"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Leadership Training through Reality TV Show</h5>

                                <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p>

                                <div class="progress mt-4">
                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $18,500
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $32,000
                                    </p>
                                </div>
                            </div>

                            <a href="donate.html" class="custom-btn btn">Donate now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <img src="/static/images/pix15.png"
                            class="custom-block-image img-fluid" alt="" >

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Peace Building Initiatives</h5>

                                <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus
                                    tempor</p>

                                <div class="progress mt-4">
                                    <div class="progress-bar w-50" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $27,600
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $60,000
                                    </p>
                                </div>
                            </div>

                            <a href="donate.html" class="custom-btn btn">Donate now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-block-wrap">
                        <img src="/static/images/pix15.png"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Providing basic necessecities IDP camps in Nigeria</h5>

                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                </p>

                                <div class="progress mt-4">
                                    <div class="progress-bar w-100" role="progressbar" aria-valuenow="100"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $84,600
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $100,000
                                    </p>
                                </div>
                            </div>

                            <a href="donate.html" class="custom-btn btn">Donate now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->

    

       <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Testimonials</h2>
            <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>
          </div>
  
          <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/static/images/pix12.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Dr Oby Ezekwesili</h3>
                        <h4>Social Analyst</h4>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                    <p>
                        <i class="fas fa-quote-left"></i>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <i class="fas fa-quote-right"></i>

                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/static/images/pix13.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Sen Yerima</h3>
                        <h4>Federal Law Maker</h4>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                    <p>
                        <i class="fas fa-quote-left"></i>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <i class="fas fa-quote-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/static/images/pix14.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Dr Kate Osawuro</h3>
                        <h4>Social Crusader</h4>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                    <p>
                        <i class="fas fa-quote-left"></i>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <i class="fas fa-quote-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/static/images/pix15.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Cardinal Onaiyikan</h3>
                        <h4>Religious Leader</h4>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                    <p>
                        <i class="fas fa-quote-left"></i>
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore.
                      <i class="fas fa-quote-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="/static/images/pix16.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Dr Steve Eboh</h3>
                        <h4>Media Personality</h4>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                    <p>
                        <i class="fas fa-quote-left"></i>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore.
                      <i class="fas fa-quote-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  

   

    


    

    
    {% endblock content %}

