{% extends "user/base.html" %}

{% block content %}
<div class="container-fluid section-bg">
    <header class="header row">
    
        <h2 class="mb-0 p-3 text-center text-white">Our Past Events</h2>
       
    </header>
    <section class=" section-bg section-padding" id="section_4">
        
      <div class="row">
        <div class="col-md-6">
          <img src="/static/images/pix20.jpg" alt="" class="img-fluid" style="min-width: 100px;">
        </div>
      </div>
        
        

    </section>
</div>

{% endblock content %}