{% extends "user/base.html" %}

{% block content %}
<div class="container-fluid section-bg">
    <header class="header row">
    
        <h2 class="mb-0 p-3 text-center text-white">Registration Guildeline</h2>
       
    </header>
    <section class=" section-bg section-padding" id="section_4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h5><u>Steps for Registration</u></h5>
<p>Welcome to the Naija Unity House contestant registration platform. You are on your way to wearing the crown of Naija Unity Peace Ambassador.</p>
<p>Please follow these few steps to complete your registration:</p>
<ul>
    <li>Contribute to the growth of this organization by purchasing our book for ₦5000. Select the Naija Unity Ebook <a href="/payment/" class="text-danger">here</a>.</li>
    <li>After successful contribution, click <a href="/buy/book/" class="text-danger">here</a> to download the book.</li>
    <li>Use the same email address you used to purchase the book to continue your registration.</li>
    <li>After successful registration, you will be directed to your dashboard to print your registration details.</li>
    <li>You will be assigned a unique reference number. Keep this number safe and share it with your friends to use for voting.</li>
</ul>
                    
                    <button type="submit" class="btn btn-success"><a href="/contestant/" class="text-white">Register</a></button>
                
               
            </div>
        </div>
    </section>

{% endblock content %}