
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <span class="text-white">
                Naija Unity House
                <small>Initiative for Fostering Unity in our diversity</small>
            </span>
        </div>
    </div>
    <header class="hader row bg-dark">

    </header>


</body>
</html>





<div class="container-fluid section-bg">
    <header class="header row">
        
        <h6 class="mb-0 p-3 text-center text-white">Registration Confirmation</h6>
      
      
    </header>
    <section class="team section-bg">
   
        <div class="row d-flex mx-auto gap-5">
            <p><strong>Name:</strong> {{ details.user_fname }} {{ details.user_lname }}</p>
            <p><strong>Email:</strong> {{ details.user_email }}</p>
            <p><strong>Phone:</strong> {{ details.user_phone }}</p>
            <p><strong>Reference:</strong> {{ details.user_ref }}</p>
        </div>
    </section>

</div>

    

<div class="site-footer-bottom bg-dark">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-7 col-12">
                <p class="mt-4 text-center text-white">Copyright &copy; Naija Unity House <span id="year"></span>
                Designed by: <a href="" target="_blank">Mulumba +2347069741483</a>
                
              </p>
                
            </div>
</div>

    