
{% extends "user/base.html" %}
{% block content %}

<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2> <a href="">Reset Password</a></h2>
        </div>

        {% set flashed_messages = get_flashed_messages(with_categories=True) %}
        {% if flashed_messages %}
            {% for category, message in flashed_messages %}
            <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% endif %} col-lg-6 mx-auto">
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}


      <div class="row gx-lg-0 gy-4 mx-auto">
       
       
        <div class="col-lg-8 bg-light mx-auto">
          <form  method="POST" role="" class="php-email-form bg-light">
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 form-group ">
                    {{form.ref(class="form-control")}}
                    {% if form.ref.errors %}
                        <ul>
                            {% for error in form.ref.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
              </div>

            
           
           
              <div class="row d-flex justify-content-center">
                <div class="col-md-6 form-group ">
                {{ form.new_password(class='password-input form-control', id='new_password') }}
                   
                    {% if form.new_password.errors %}
                      <div class="alert alert-danger">
                          {% for error in form.new_password.errors %}
                              {{ error }}
                          {% endfor %}
                      </div>
                  {% endif %}
                </div>
                

                
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    {{ form.confirm_password(class="form-control", id='confirm_password') }}
                    {% if form.confirm_password.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.confirm_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2 form-group">
                    <button type="button" class="show-password-button form-control" onclick="togglePasswordVisibility()">Show</button>
                  </div>
            </div>
             
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 form-group">
                    {{form.submit(class="form-control btn btn-success")}}
                </div>
            </div>
           
          </form>
        </div>

      </div>

    </div>
 

  <script>

function togglePasswordVisibility() {
    var newPasswordInput = document.getElementById("new_password");
    var confirmPassInput = document.getElementById("confirm_password");

    // Toggle visibility of new password field
    if (newPasswordInput.type === "password") {
        newPasswordInput.type = "text";
    } else {
        newPasswordInput.type = "password";
    }

    // Toggle visibility of confirm password field
    if (confirmPassInput.type === "password") {
        confirmPassInput.type = "text";
    } else {
        confirmPassInput.type = "password";
    }
}
    
</script>

  {% endblock content %} 