{% extends "user/base.html" %}

{% block content %}
<div class="container-fluid section-bg">
<header class="header row">

    <h2 class="mb-0 p-3 text-center text-white">Our Team</h2>
   
</header>
   


<section id="team" class="team section-bg">
    <div class="row d-flex mx-auto gap-5">
        <div class="col-md-4"><img src="/static/images/pix18.jpg"
            class="about-image ms-lg-auto bg-light shadow-lg img-fluid ml-lg-5" alt="">
        </div>
        <div class="col-md-6"><h2 class="mb-0 p-3 text-center">Bar Beauty Odiaka</h2>
            <h5 class="text-muted text-center mb-md-4">Our Founder</h5>
            
    
            <p>Beauty Odiaka Cletus hails from Illushi 
                Esan South East Local Government Ubiaja 
                in Edo State. She is a legal practitioner, 
                former company secretary who has had 
                stint in the Oil and Gas sector. She is 
                married to her heartthrob Cletus 
                Ebhodagbe and blessed with lovely five 
                kids.</p>

            <p>Beauty and her husband share burden for Nigeria Unity, Nigeria  youths, and nation building, which they champion through the platform Initiative for Fostering Unity in Diversity, Youth and Nation Building, an NGO, which they are co-founders.The organization is making novel foray into reality show, “Naija Unity House” conceived to diffuse ethnic and religious tensions, and advance unity and cohesion in Nigeria through promotion of tolerance and deference for the nation's cultural diversity.</p>

                <ul class="social-icon mt-4 gap-5">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </ul>
            </div>
    </div>
</section>

<hr>
<section id="team" class="team section-bg">
    <div class="row d-flex mx-auto gap-5">
        <div class="col-md-4"><img src="/static/images/pix14.png"
            class="about-image ms-lg-auto bg-light shadow-lg img-fluid ml-lg-5" alt="">
        </div>
        <div class="col-md-6"><h2 class="mb-0 p-3 text-center">Bar Ese Judith</h2>
            <h5 class="text-muted text-center mb-md-4">Human Right Activist</h5>
            
    
            <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito Professional
                charity theme based</p>
    
            <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus</p>
            <p>
                Oluyemi Oluleke Osinbajo GCON (born 8 March 1957) is a Nigerian lawyer, professor, and politician who served as the 14th vice president of Nigeria from 2015 to 2023.[1] A member of the All Progressives Congress (APC), he previously served as Attorney General of Lagos State from 1999 to 2007 and holds the title of Senior Advocate of Nigeria.</p>
                <ul class="social-icon mt-4">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </ul>
            </div>
    </div>
</section>

<hr>
<section id="team" class="team section-bg">
    <div class="row d-flex mx-auto gap-5">
        <div class="col-md-4"><img src="/static/images/pix15.png"
            class="about-image ms-lg-auto bg-light shadow-lg img-fluid ml-lg-5" alt="">
        </div>
        <div class="col-md-6"><h2 class="mb-0 p-3 text-center">Chief Odiaka</h2>
            <h5 class="text-muted text-center mb-md-4">Businessman & Philantropist</h5>
            
    
            <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito Professional
                charity theme based</p>
    
            <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus</p>
            <p>
                Oluyemi Oluleke Osinbajo GCON (born 8 March 1957) is a Nigerian lawyer, professor, and politician who served as the 14th vice president of Nigeria from 2015 to 2023.[1] A member of the All Progressives Congress (APC), he previously served as Attorney General of Lagos State from 1999 to 2007 and holds the title of Senior Advocate of Nigeria.</p>
                <ul class="social-icon mt-4">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </ul>
            </div>
    </div>
</section>

<hr>
<section id="team" class="team section-bg">
    <div class="row d-flex mx-auto gap-5">
        <div class="col-md-4"><img src="/static/images/pix16.png"
            class="about-image ms-lg-auto bg-light shadow-lg img-fluid ml-lg-5" alt="">
        </div>
        <div class="col-md-6"><h2 class="mb-0 p-3 text-center">Dr Steve Eboh</h2>
            <h5 class="text-muted text-center mb-md-4">Media Personality & Philantropist</h5>
            
    
            <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito Professional
                charity theme based</p>
    
            <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus</p>
            <p>
                Oluyemi Oluleke Osinbajo GCON (born 8 March 1957) is a Nigerian lawyer, professor, and politician who served as the 14th vice president of Nigeria from 2015 to 2023.[1] A member of the All Progressives Congress (APC), he previously served as Attorney General of Lagos State from 1999 to 2007 and holds the title of Senior Advocate of Nigeria.</p>
                <ul class="social-icon mt-4">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </ul>
            </div>
    </div>
</section>

<hr>
<section id="team" class="team section-bg">
    <div class="row d-flex mx-auto gap-5">
        <div class="col-md-4"><img src="/static/images/pix12.png"
            class="about-image ms-lg-auto bg-light shadow-lg img-fluid ml-lg-5" alt="">
        </div>
        <div class="col-md-6"><h2 class="mb-0 p-3 text-center">Dr Serah Ibrahim</h2>
            <h5 class="text-muted text-center mb-md-4">UN Representative</h5>
            
    
            <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito Professional
                charity theme based</p>
    
            <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus</p>
            <p>
                Oluyemi Oluleke Osinbajo GCON (born 8 March 1957) is a Nigerian lawyer, professor, and politician who served as the 14th vice president of Nigeria from 2015 to 2023.[1] A member of the All Progressives Congress (APC), he previously served as Attorney General of Lagos State from 1999 to 2007 and holds the title of Senior Advocate of Nigeria.</p>
                <ul class="social-icon mt-4">
                    <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </ul>
            </div>
    </div>
</section>
</div>

{% endblock content %}