{% extends "user/base.html" %}

{% block content %}

<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="text-white text-center mb-4">Volunteer </h2>

                <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                    {{ form.csrf_token }}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <h3 class="mb-4">Become a volunteer today</h3>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            
                            {{form.name(class="form-control")}}
                        </div>

                        <div class="col-lg-6 col-12">
                            {{form.email(class="form-control")}}
                        </div>

                        <div class="col-lg-6 col-12">
                            {{form.phone(class="form-control")}}
                        </div>

                        <div class="col-lg-6 col-12">
                            {{form.address(class="form-control")}}
                        </div>
                        <div class="col-lg-6 col-12">
                            <select name="state" id="state" class="form-control">
                                <option value="">Select State</option>
                                {% for state in states %}
                                <option value="{{ state.state_id }}">{{ state.state_name }}</option>
                                {% endfor %}
                              </select>
                        </div>

                        <div class="col-lg-6 col-12">
                            <select name="lga" id="lga" class="form-control">
                                <option value="">Select LGA</option>
                              </select>
                        </div>
                    </div>

                    <div>
                        {{form.submit(class="form-control btn btn-success")}}
                    </div>

                       
                </form> 
            </div>

            <div class="col-lg-6 col-12">
                <img src="/static/images/pix12.png"
                    class="volunteer-image img-fluid" alt="">

                <div class="custom-block-body text-center">
                    <h4 class="text-white mt-lg-3 mb-lg-3">About Volunteering</h4>

                    <p class="text-white">As a volunteer with Naija Unity House, you become a peace ambassador in your local area. You play a vital role in building and promoting peace, ensuring that alternative dispute resolution methods are employed to resolve conflicts peacefully.</p>
                </div>
            </div>

        </div>
    </div>
</section> 





<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

 
<script>
    
    
    $('#state').change(function(){
      var state_id = $(this).val()
      var csrf = '{{ csrf_token() }}'
      $.ajax({
        url: '/state/lgas/',
        type: 'POST',
        data: {"state_id":state_id, "csrf_token":csrf},
        beforeSend: function(){
          $('#lga').html('')
        },
        success: function(resp){
          $('#lga').append("<option value=''>select LGA</option>")
          for (let index = 0; index < resp.length; index++){
            $('#lga').append(`<option value='${resp[index].lga_id}'>${resp[index].lga_name}</option>`);
          }
        }
      })
    })

</script>


{% endblock %}